<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <title>ToDo App</title>
  </head>
  <body>

  <script type="text/template" id="addTaskTemplate">
    <input type="text" name="name" placeholder="Task Description" value="">
    <input type="datetime-local" name="name" placeholder="Due Date" value="">
    <br>
    <input type="radio" name="name" value=""> Urgent?
    <br>
    <input type="checkbox" name="name" value=""> Completed
  </script>
  <script type="text/template" id="todoListTemplate">
    <h1>My To Do List</h1>
    <ul>
    <% _.forEach(todos, function(todo){ %>
    <input type="checkbox" name="name" value=""> Complete.
    <p><%= todo.description %></p>
    <p><%= todo.duedate %></p>
    <% }) %>
    </ul>

  </script>
  <script src="dist/app.js"></script>
  </body>


</html>
